[submodule "Dependencies/googletest"]
	path = Dependencies/googletest
	url = https://github.com/google/googletest.git
[submodule "Dependencies/avr-libc"]
	path = Dependencies/avr-libc
	url = https://github.com/vancegroup-mirrors/avr-libc.git
[submodule "Dependencies/utl"]
	path = Dependencies/utl
	url = git@github.com:mzimmerer/utl.git
