**.swp
**.swo
**.map
.vs/*
x64/*
Debug/*
Release/*
HeadsUpPokerSimulator/x64/*
HeadsUpPokerSimulator/Debug/*
HeadsUpPokerSimulator/Release/*
HeadsUpPokerSimulatorTests/x64/*
HeadsUpPokerSimulatorTests/Debug/*
HeadsUpPokerSimulatorTests/Release/*
HeadsUpPokerSimulatorUtil/x64/*
HeadsUpPokerSimulatorUtil/Debug/*
HeadsUpPokerSimulatorUtil/Release/*
texas_holdem*
run_tests*
Obj/*
Output/*
